*.o
*.so
*.a
*.bin
*.log
*.out
*~
*.gcno

bench/memcached-1.4.25/doc/Makefile
bench/memcached-1.4.25/.deps
bench/memcached-1.4.25/Makefile
bench/memcached-1.4.25/config.h
bench/memcached-1.4.25/config.status
bench/memcached-1.4.25/stamp-h1
bench/memcached-1.4.25/sizes
bench/memcached-1.4.25/testapp
bench/memcached-1.4.25/timedrun
bench/memcached-1.4.25/autom4te.cache/*
bench/memcached-1.4.25/memcached
bench/memcached-1.4.25/memcached-debug
